.tijgerfoto {
  color: green;
  font-family: "Courier New", Courier, monospace;
}

.div1 {
  height: 500px;
  width: 500px;
  border: 10px solid black;
  box-sizing: border-box;
  padding: 110px;
  position: absolute;
}

.rechts {
  position: relative;
  color: green;
  font-family: "Courier New", Courier, monospace;
  right: 30px;
  bottom: 0px;
  width: 300px;
}

.foto {
  position: relative;
  color: red;
  font-family: "Courier New", Courier, monospace;
  right: 30px;
  bottom: 0px;
  width: 300px;
}

.tekst {
  position: relative;
  color: green;
  font-family: "Courier New", Courier, monospace;
  right: 30px;
  bottom: 0px;
  width: 300px;
}

.rechterkant {
  float: right;
  width: 20%;
}

.linkerkant {
  float: left;
  width: 80%;
}

.tijgerpagina {
  position: relative;
  left: -120px;
  bottom: -120px;
  color: green;
  font-family: "Courier New", Courier, monospace;
}

.fotos {
  position: relative;
  left: -120px;
  bottom: -110px;
  color: red;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
}

.tekstlinker {
  position: relative;
  color: green;
  font-family: "Courier New", Courier, monospace;
  left: -120px;
  bottom: -100px;
  width: 1000px;
}

.links {
  position: relative;
  left: -120px;
  bottom: -100px;
  width: 1000px;
}

hr.line {
  border: 1px solid black;
  width: 130%;
}

.author {
  color: green;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  float: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0%;
}

.dier {
  color: green;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  left: 1000px;
  bottom: 100px;
  width: 1000px;
}
